trigger:
  branches:
    include:
      - main
  paths:
    include:
      - maven/BMI-Calculator/**

pool:
  vmImage: 'ubuntu-latest'

steps:
# Set up Java
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '24'                 # Java version required
    jdkArchitectureOption: 'x64'      # Must use this key
    jdkSourceOption: 'PreInstalled'   # Use preinstalled JDK

# Build & test with Maven
- task: Maven@4
  inputs:
    mavenPomFile: 'maven/BMI-Calculator/pom.xml'
    goals: 'clean test'
    mavenVersionOption: 'Default'
    publishJUnitResults: true
    javaHomeOption: 'Path'
    jdkDirectory: $(JAVA_HOME_24_X64)   # Automatically set by JavaToolInstaller

# Publish build output as artifact
- task: PublishPipelineArtifact@1
  displayName: 'Publish build artifact'
  inputs:
    targetPath: '$(System.DefaultWorkingDirectory)/maven/BMI-Calculator/target'
    artifact: 'maven-build'
    publishLocation: 'pipeline'
